.footer_wrapper {
	padding: 50px 0 30px;
}

.footer_copyright , .footer_media {
    width: 300px;
    display: inline-block;
    vertical-align:middle;
}
/* 將寬度設定300px讓兩區塊彼此不會佔到對方的位置(內容增加時) */

.footer_copyright {
    text-align-last: initial;
}

.footer_copyright p {
    font-size: 14px;
}

.footer_media {
    font-size: 0;
    text-align-last:right;
}

.footer_media a {
    display: inline-block;
}

.footer_media a + a {
    margin-left: 20px;
}

.footer_media a i {
    font-size: 32px;
    color: black;
}


.footer_media a :hover {
	color: gray;
}