section {
    background-color:rgb(128, 128, 128,0.03);
}    

.banner_wrapper {
    font-size: 0;
    text-align: center;
    padding: 50px 0 70px;
}

.banner_container , .banner_image {
    font-size:initial;
    width: 280px;
    display: inline-block;
    vertical-align: top;
    text-align: initial;
}

.banner_container {
    margin-right: 20px;
}

h2 {
    font-size: 36px;
    line-height: 1;
    margin-bottom: 5px;
}

h3 {
    font-size: 20px;
    line-height: 1;
}
.banner_container > h3 {
    margin-bottom: 5px;
}

.banner_container > P {
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 5px;
}

.button_container {
    width: 180px;
    margin: 25px auto 0;
}

.button_container a {
    width: 100%;
    line-height: 2.5;
    color: white;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background:linear-gradient(rgb(255, 165, 0 ,0.80),50%,orange 50% );
    border-radius: 5px;
    margin-bottom: 3px;
}

.button_container a:hover {
	color: yellow;
}

.button_container > p {
    font-size: 10px;
}

article {
    padding: 50px 0 150px;
}

article > h3 {
    margin-bottom: 20px;
}

.article_container {
    columns: 2 ;
    column-gap: 20px;
}

.article_container p {
    font-size: 12px;
    break-inside: avoid;
    margin-bottom: 20px;
}